
/* CSS Effects - Q_01 */

/* The table-layout property defines the algorithm used to lay out table cells, rows, and columns. */
#fixed-table{
    table-layout: fixed;
    float: left;
    width: 50%;
    margin-right: 30px;
}
#none-table{
    table-layout: none;
}
table,th,td{
    border: 2px solid black;
    /* "border-collapse" property collapses table,row and column borders into a single border */
    border-collapse: collapse;
    padding: 7px;
    text-align: center;
}





/* Below Styles are not part of assignment but used just to make page look better */
h3{
    background-color: white;
}

div.hover:hover{
    background-color: whitesmoke;
}

body{
    /* specifying the values of R, G, B that are in the range of 0 to 255. */
    background-color: rgb(236, 246, 255);
    background-image: url(css.png);
    /* If you set "no-repeat" then the background image will not repeat in the browser */
    background-repeat: no-repeat;
    /* If you set "fixed" then the image will not move during scrolling in the browser */
    background-attachment: fixed;
    background-size: 250px;
    background-position: center;
    padding: 10px;
}
/*  We can center an image by using the left-margin and right-margin property with value "auto"*/
.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}